.newsplashpage {
  .spacing {
    padding-top: 30rem;
  }
  .part1 {
    .firstsection {
      .heading1 {
        text-align: center;

        h1 {
          position: relative;
          color: #009688;
          font-size: 3rem;
          font-family: "Capriola", "Roboto", Arial, sans-serif;
          z-index: 1;
        }
      }

      .subheading1 {
        text-align: center;
        p {
          position: relative;
          color: #000000;
          font-weight: bold;
          font-size: 1.5rem;
          font-family: "Capriola", "Roboto", Arial, sans-serif;
          z-index: 1;
        }
      }

      .headingBtn {
        text-align: center;
        button {
          text-transform: capitalize;
          text-decoration: none;
          border: none;
          font-size: 1.2rem;
          padding: 12px;
          padding-left: 35px;
          padding-right: 35px;
          background-color: #2f2e41;
          border-radius: 25px;
          color: white;
          font-weight: bold;
          position: relative;
        }

        button:hover {
          background-color: white;
          color: #2f2e41;
          border: 2px solid #2f2e2f;
        }
      }

      .banner1 {
        position: absolute;
        top: 10rem;
        left: 14rem;
        height: 100vh;
      }
    }
  }

  .part2 {
    .numberedCard {
      display: flex;
      justify-content: center;
      position: relative;
      top: 30rem;

      .card1,
      .card2,
      .card3 {
        padding: 40px;
        padding-right: 70px;
        padding-left: 70px;
        .container {
          .testimonial_wrapper {
            .single_testimonial_wrapper {
              p {
                width: 120%;
                font-size: 25px;
                text-align: center;
                color: #2f2e41;
                span {
                  font-size: 35px;
                  text-transform: capitalize;
                  font-weight: bold;
                  color: #009688;
                }
              }
            }
          }
        }
      }

      .testimonial_wrapper {
        margin-top: 90px;
      }

      .single_testimonial_wrapper {
        display: inline-block;
      }

      .single_testimonial {
        width: 250px;
        height: 450px;

        z-index: 2;
        transform: rotate(1deg);
      }

      .single_testimonial p {
        text-align: left;
        position: absolute;
        bottom: 19px;
        font-size: 18px;
        font-family: "Raleway";
        color: #286090;
        z-index: 7;
        padding: 24px;
      }

      .single_testimonial h3 {
        z-index: 4;
        position: relative;
        top: 54px;
        text-align: left;
        font-size: 46px;
        color: white;
        padding-left: 23px;
      }
      .single_testimonial small {
        position: absolute;
        bottom: -19px;
        right: 22px;
      }

      .square {
        width: 65px;
        height: 32px;
        background: #ab003c;
        position: absolute;
        left: -25px;
        top: 124px;
        transform: rotate(45deg);
        z-index: 1;
      }

      .parent_square {
        width: 150px;
        height: 80px;
        position: absolute;
        left: -27px;
        top: 48px;
        z-index: 3;
      }

      .child_sqaure {
        width: 56px;
        height: 57px;
        background: #ab003c;
        position: absolute;
        left: 95px;
        top: 60px;
        z-index: 4;
        transform: rotate(45deg);
      }

      .tilt-shadow {
        position: absolute;
        box-shadow: 0 25px 75px -17px rgba(0, 0, 0, 0.75);
        background: white;
        height: 450px;
        width: 350px;
        transform: rotate(-1deg);
        z-index: 3;
        box-shadow: -7px 4px 17px #333333ab;
        cursor: pointer;
      }
    }
  }

  .part3 {
    .banner2 {
      height: 100vh;
      position: relative;
      top: 0rem;
      left: 25em;
    }
    .heading2 {
      h1 {
        position: absolute;
        top: 210%;
        left: 5rem;
        color: #613556;
        font-size: 3rem;
        font-family: "Capriola", "Roboto", Arial, sans-serif;
        z-index: 1;
        text-transform: capitalize;
      }
    }

    .subheading2 {
      p {
        position: absolute;
        left: 5rem;
        top: 220%;
        color: #000000;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: "Capriola", "Roboto", Arial, sans-serif;
        z-index: 1;
      }
    }

    .headingBtn2 {
      button {
        text-transform: capitalize;
        text-decoration: none;
        border: none;
        font-size: 1.2rem;
        padding: 12px;
        padding-left: 35px;
        padding-right: 35px;
        background-color: #62d1ff;
        border-radius: 25px;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 240%;
        left: 5rem;
      }

      button:hover {
        background-color: white;
        color: black;
        border: 2px solid #62d1ff;
      }
    }
  }

  .part4 {
    .banner3 {
      height: 80vh;
      position: relative;
      padding-top: 25vh;
    }
    .heading3 {
      h1 {
        position: absolute;
        top: 430%;
        left: 5rem;
        color: #094142;
        font-size: 3rem;
        font-family: "Capriola", "Roboto", Arial, sans-serif;
        z-index: 1;
        text-transform: capitalize;
      }
    }

    .subheading3 {
      p {
        position: absolute;
        left: 5rem;
        top: 440%;
        color: #000000;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: "Capriola", "Roboto", Arial, sans-serif;
        z-index: 1;
        text-align: left;
      }
    }

    .headingBtn3 {
      button {
        text-transform: capitalize;
        text-decoration: none;
        border: none;
        font-size: 1.2rem;
        padding: 12px;
        padding-left: 35px;
        padding-right: 35px;
        background-color: #d68453;
        border-radius: 25px;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 460%;
        left: 5rem;
      }

      button:hover {
        background-color: white;
        color: black;
        border: 2px solid #d68453;
      }
    }
  }

  .part5 {
    .banner4 {
      height: 100vh;
      position: relative;

      left: 51.5em;
    }
    .heading4 {
      h1 {
        position: absolute;
        top: 300%;
        right: 5rem;
        color: #613556;
        font-size: 3rem;
        font-family: "Capriola", "Roboto", Arial, sans-serif;
        z-index: 1;
        text-transform: capitalize;
      }
    }

    .subheading4 {
      p {
        position: absolute;
        right: 5rem;
        top: 310%;
        color: #000000;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: "Capriola", "Roboto", Arial, sans-serif;
        z-index: 1;
        text-align: right;
      }
    }

    .headingBtn4 {
      button {
        text-transform: capitalize;
        text-decoration: none;
        border: none;
        font-size: 1.2rem;
        padding: 12px;
        padding-left: 35px;
        padding-right: 35px;
        background-color: #b1c01f;
        border-radius: 25px;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 330%;
        right: 5rem;
      }

      button:hover {
        background-color: white;
        color: black;
        border: 2px solid #b1c01f;
      }
    }
  }
}
